*{
    border: 0;
    box-sizing: border-box;
    padding: 0;
}
button{
    text-transform: none !important;
}
.boite{
    border-radius: 10px;
}
.favori{
    font-size: 2rem;
    text-transform:none !important;
}
